<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  <title>Editus</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.5.0/semantic.min.css"
      integrity="sha512-KXol4x3sVoO+8ZsWPFI/r5KBVB/ssCGB5tsv2nVOKwLg33wTFP3fmnXa47FdSVIshVTgsYk/1734xSk9aFIa4A=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <script
      src="https://code.jquery.com/jquery-3.1.1.min.js"
      integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.5.0/semantic.min.js"
      integrity="sha512-Xo0Jh8MsOn72LGV8kU5LsclG7SUzJsWGhXbWcYs2MAmChkQzwiW/yTQwdJ8w6UA9C6EVG18GHb/TrYpYCjyAQw=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.23.0/ace.min.js" integrity="sha512-H7NE0Mw3ElsV/iE8dqG8hNkRkKkQ4C8l1i66QouYmeJZ0jRH/EvtMIOiIYlP6TxktZoExjy8Y+uvzTsJtwPdUQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <style>
      html,body {
        overflow: auto;
      }
      html,
      body,
      .ui.text.container {
        font-family: "Noto Sans", sans-serif;
      }
      .break-words{
        overflow-wrap: break-word;
      }
      .main.container {
        margin-top: 7em;
      }
      .flex{
        display: flex !important;
      }
      .items-center{
        align-items: center;
      }
      .justify-space-between {
        justify-content: space-between;
      }
      .flex-column {
        flex-direction: column;
      }
      .w-full {
        width: 100% !important;
      }
      .w-3\/5 {
        width: 60%;
      }
      .bg-neutral-300 {
        background-color: rgb(212 212 212);
      }
      .rounded {
        border-radius: 0.25rem;
      }
      .p-4 {
        padding: 1rem;
      }
      .px-4 {
        padding: 0 1rem;
      }
      .mb-4 {
        margin-bottom: 1rem;
      }
      .ml-2 {
        margin-left: 0.5rem;
      }
      .ml-4 {
        margin-left: 1rem;
      }
      .mt-4 {
        margin-top: 1rem;
      }
      .mt-8 {
        margin-top: 2rem;
      }
      .mx-4 {
        margin-bottom: 1rem;
        margin-top: 1rem;
      }
      .editor {
        height: 420px;
      }
      pre {
        white-space: pre-line;
        word-break: break-word;
      }
      .ui.cards>.orange.card, .ui.orange.card, .ui.orange.cards>.card {
        box-shadow: 0 0 0 1px #d4d4d5, 0 0px 3px 1px #f2711c, 0 1px 3px 0 #d4d4d5;
      }
      .ui.cards>.orange.card:hover, .ui.orange.card:hover, .ui.orange.cards>.card:hover {
        box-shadow: 0 0 0 1px #d4d4d5, 0 0px 5px 1px #f26202, 0 1px 3px 0 #bcbdbd;
      }
      .tablewrap {
        position: relative
      }
      .ui.celled.table tr td, .ui.celled.table tr th {
        word-break: break-all;
      }
      .ui.list>.item.flex:after {
        display: none;
      }
    </style>
</head>
<body>
  <div class="ui fixed inverted menu">
    <div class="ui container">
      <%= link_to 'Editus', root_path, class: "header item" %>
      <%= link_to 'Home', root_path, class: "item" %>
      <div class="ui simple dropdown item">
        Menu <i class="dropdown icon"></i>
        <div class="menu">
          <%= link_to 'Scripts', scripts_path, class: "item" %>
          <%= link_to 'Models', manual_update_path, class: "item" %>
        </div>
      </div>
    </div>
  </div>
  
  <%= yield %>
  

  <div class="ui modal confirmation">
      <div class="header">Confirmation</div>
      <div class="content">
        <p>
          These changes may cause data errors, do you still want to continue?
        </p>
      </div>
      <div class="actions">
        <div class="ui cancel button">Cancel</div>
        <div class="ui ok red button">OK</div>
      </div>
    </div>

    <script>
      $("button.confirmation").on("click", function (e) {
        $(".ui.confirmation.modal")
          .modal({
            onApprove: function () {
              switch ($(e.currentTarget).data('method')) {
                case 'run':
                  $("#" + $(e.currentTarget).data('method')).submit()
                  break;
                case 'undo':
                  console.log($(e.currentTarget).data('id'))
                  $("#" + $(e.currentTarget).data('id')).submit()
                  break;
                default:
                  break;
              }
            }
          })
          .modal("show");
      });

      $('section .ui.accordion').accordion();

      $('.editor').each(function(_, ele) {
        var editor = ace.edit(ele);
        editor.setTheme("ace/theme/monokai");
        editor.session.setMode("ace/mode/ruby");
        editor.setReadOnly(true);
      })

      if (window.location.hash) {
        $('#action-' + window.location.hash.replace('#', '')).addClass('orange')
      }

      $('a.action').on("click", function () {
        setTimeout(() => {
          $('#action-' + window.location.hash.replace('#', '')).addClass('orange')
        }, 1000);
      })
    </script>
</body>
</html>
