<!DOCTYPE html>
<html>
<head>
  <title>Model updater</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/purecss@3.0.0/build/pure-min.css" integrity="sha384-X38yfunGUhNzHpBaEBsWLO+A0HDYOQi8ufWDkZ0k9e0eXz/tH3II7uKZ9msv++Ls" crossorigin="anonymous">

  <style>
    * {
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
    }

    body {
        line-height: 1.7em;
        color: #7f8c8d;
        font-size: 13px;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    label {
        color: #34495e;
    }

    .home-menu {
    padding: 0.5em;
    text-align: center;
    box-shadow: 0 1px 1px rgba(0,0,0, 0.10);
    }
    .home-menu {
        background: #2d3e50;
    }
    .pure-menu.pure-menu-fixed {
        border-bottom: none;
        z-index: 4;
    }

    .home-menu .pure-menu-heading {
        color: white;
        font-weight: 400;
        font-size: 120%;
    }

    .home-menu .pure-menu-selected a {
        color: white;
    }

    .home-menu a {
        color: #6FBEF3;
    }
    .home-menu li a:hover,
    .home-menu li a:focus {
        background: none;
        border: none;
        color: #AECFE5;
    }

    .content-wrapper {
      width: 100%;
    }

    .content {
      max-width: 1080px;
      width: 100%;
      margin: auto;
    }

    .width-full {
      width: 100%;
    }

    .pure-table {
      margin-top: 0.75rem;
      margin-bottom: 0.75rem;
    }

    .text-warning {
      color: #ff8800;
    }

    .font-bold {
      font-weight: bold;
    }
  </style>
</head>
<body>

<div class="header">
  <div class="home-menu pure-menu pure-menu-horizontal">
    <a class="pure-menu-heading" href="#">Model Updater</a>

    <ul class="pure-menu-list">
      <li class="pure-menu-item <%= path_active?(root_path) ? 'pure-menu-selected' : ''%>">
        <a href="#" class="pure-menu-link">Dashboard</a>
      </li>
      <li class="pure-menu-item <%= path_active?(scripts_path) ? 'pure-menu-selected' : ''%>">
        <a href="#" class="pure-menu-link">Scripts</a>
      </li>
      <li class="pure-menu-item <%= path_active?(manual_update_path) ? 'pure-menu-selected' : ''%>">
        <%= link_to 'Manual Update', manual_update_path, class: 'pure-menu-link' %>
      </li>
    </ul>
  </div>
</div>

<div class="content-wrapper">
  <%= yield %>
</div>

</body>
</html>
