<div class="content">
  <%= form_tag validate_path, class: 'pure-form' do %>
    <p>
      <%= select_tag "klass", options_for_select(@model_names.sort, params[:klass]), prompt: "Select a model", id: 'select-klass' %>
      or
      <%= text_field_tag "klass", params[:klass], placeholder: "Type here...", id: 'input-klass' %>
    </p>

    <% if params[:klass].present? %>
      <p>
      find by <%= text_field_tag "attribute", params[:attribute] || 'id', placeholder: "Id, Email,..." %>
      </p>
      <p>
      with value <%= text_field_tag "value", params[:value], placeholder: "value..." %>
      </p>
      <p>
        <button class="pure-button pure-button-primary" id="find">Find</button>
      </p>
    <% end %>

    <% if @record.present? %>
      <table class="pure-table pure-table-horizontal width-full">
        <thead>
            <tr>
                <th>Attribute</th>
                <th>Value</th>
                <th>Update</th>
            </tr>
        </thead>
        <tbody>
            <% @column_names.each do |col| %>
              <tr>
                <td><%= col %></td>
                <td class="width-full"><%= @record.try(col) %></td>
                <td><%= text_field_tag "user[#{col}]", nil %></td>
              </tr>
            <% end %>
        </tbody>
      </table>

      <div>
        <%= submit_tag "Validate", class: "pure-button pure-button-primary" %>
      </div>
    <% end %>
  <% end %>
</div>

<script>
  function selectClassChange(e) {
    const value = e.target.value

    window.location.href = `${window.location.origin}${window.location.pathname}?klass=${value}`
  }

  function findBy(e) {
    e.preventDefault()

    const attribute = document.getElementById('attribute').value
    const value = document.getElementById('value').value

    const search = new URLSearchParams()
    search.set('klass', '<%= params[:klass] %>')
    search.set('attribute', attribute)
    search.set('value', value)
    window.location.href = `${window.location.origin}${window.location.pathname}?${search}`
  }

  document.addEventListener('DOMContentLoaded', function(event) {
    document.getElementById('select-klass').addEventListener('change', selectClassChange)
    document.getElementById('input-klass').addEventListener('change', selectClassChange)
    document.getElementById('find').addEventListener('click', findBy)
  });
</script>
