<div class="ui main text container">
  <h1 class="ui header">Models</h1>
</div>

<%= form_tag validate_path, class: 'ui form warning' do %>
  <div class="ui mt-4 text container">
    <p>
      <%= select_tag "klass", options_for_select(@model_names.sort, params[:klass]), prompt: "Select a model", id: 'select-klass' %>
    </p>

    <% if params[:klass].present? %>
      <p>
      find by <%= text_field_tag "attribute", params[:attribute] || 'id', placeholder: "Id, Email,..." %>
      </p>
      <p>
      with value <%= text_field_tag "value", params[:value], placeholder: "value..." %>
      </p>
      <p>
        <button class="ui button blue" id="find">Find</button>
      </p>
    <% end %>
  </div>
  <% if @record.present? %>
    <div class="ui mt-4 px-4 container">
      <table class="ui celled table">
        <thead>
            <tr>
                <th>Attribute</th>
                <th>Value</th>
                <th>Update</th>
            </tr>
        </thead>
        <tbody>
            <% @column_names.each do |col| %>
              <tr>
                <td><%= col %></td>
                <td class="w-3/5"><%= @record.try(col) %></td>
                <td>
                  <% if [true, false].include? @record.try(col) %>
                    <%= label_tag "user[#{col}]", class: "flex items-center" do %>
                      <%= field_tag @record, col, "user[#{col}]", nil %><span class="ml-2">True</span>
                    <% end %>
                  <% else %>
                    <%= field_tag @record, col, "user[#{col}]", nil %>
                  <% end %>
                </td>
              </tr>
            <% end %>
        </tbody>
      </table>
    </div>

    <div class="ui mt-4 mb-4 text container">
      <%= submit_tag "Validate", class: "ui button blue" %>
    </div>
  
  <% elsif params[:klass] && params[:attribute] && params[:value] %>
    <div class="ui mt-4 text container">
      <div class="ui warning message">
        <i class="warning icon"></i>
        Record Not Found
      </div>
    </div>
  <% end %>
<% end %>

<script>
  function selectClassChange(e) {
    const value = e.target.value

    window.location.href = `${window.location.origin}${window.location.pathname}?klass=${value}`
  }

  function findBy(e) {
    e.preventDefault()

    const attribute = document.getElementById('attribute').value
    const value = document.getElementById('value').value

    const search = new URLSearchParams()
    search.set('klass', '<%= params[:klass] %>')
    search.set('attribute', attribute)
    search.set('value', value)
    window.location.href = `${window.location.origin}${window.location.pathname}?${search}`
  }

  document.addEventListener('DOMContentLoaded', function(event) {
    document.getElementById('select-klass').addEventListener('change', selectClassChange)
    document.getElementById('find').addEventListener('click', findBy)
  });
</script>
